/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
bindings = <
&kp ESC &kp Q &kp L &kp SLASH &kp COMMA &kp DOT &kp G &kp D &kp B &kp Y &kp P &kp LGUI
&mt LSHFT LEFT &kp I &kp U &kp E &mt LSHFT O &kp MINUS &kp R &mt RSHFT T &kp N &kp S &kp H &mt RSHFT UP
&mt LCTRL RIGHT &kp Z &kp X &kp C &mt LCTRL V &lt 2 SEMI &kp W &mt RCTRL M &kp F &kp J &kp BSLH &mt RCTRL DOWN
&kp SQT &kp EQUAL &mt LALT LANG2 &kp A &kp K &mt RALT LANG1 &kp LBKT &kp RBKT
&lt 1 SPACE &mt LSHFT BSPC &mt LCTRL DEL &mt RCTRL TAB &mt RSHFT ENTER &lt 1 SPACE

            >;
        };
    };
};
