/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <200>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <200>;
};
&mmv {
    x-input-code = <INPUT_REL_X>;
    y-input-code = <INPUT_REL_Y>;
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  J   |  ,   |  .   |                   |  G   |  D    |  B    |  Y   |   P   |  WIN  |
// | SHIFT |  I  |  U  |  E   |  O   |  -   |                   |  R   |  T    |  N    |  S   |   H   | SHIFT |
// | CTRL  |  \  |  /  |  F   |  L   |  ;   |                   |  Z   |  M    |  C    |  X   |   V   | CTRL  |
//               | SQT | EQAL | ALT  |  A   |                   |  K   |  ALT  |  [    |  ]   |
// |LT1 SP |           | BKSP | DEL  |                                 | TAB   | ENT   |              | LT1 SP|
bindings = <
&kp ESC &kp Q &kp W &kp J &kp COMMA &kp DOT &kp G &kp D &kp B &kp Y &kp P &kp LGUI
&mt LSHFT LEFT &kp I &kp U &kp E &mt LSHFT O &kp MINUS &kp R &mt RSHFT T &kp N &kp S &kp H &mt RSHFT UP
&mt LCTRL RIGHT &kp BSLH &kp SLASH &kp F &mt LCTRL L &kp SEMI &kp Z &mt RCTRL M &kp C &kp X &kp V  &mt RCTRL DOWN
&kp SQT &kp EQUAL &mt LALT LANG2 &kp A &kp K &mt RALT LANG1 &kp LBKT &kp RBKT
&lt 1 SPACE &mt LSHFT BSPC &mt LCTRL DEL &mt RCTRL TAB &mt RSHFT ENTER &lt 1 SPACE

            >;
        };
        sub_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  ,  |  7  |  8   |  9   |  .   |                   |  PGUP|  HOME |  MUP  |  END | F1 |  WIN  |
// | SHIFT |  *  |  4  |  5   |  6   |  -   |                   |  PGDN|  MLEFT|  MDWN |MRIGHT| F2 | SHIFT |
// | CTRL  |  `  |  1  |  2   |  3   |  ;   |                   |  MBT3|  LEFT |  UP   |RIGHT | F3 | CTRL  |
//               | SQT | EQAL | ALT  |  0   |                   |  MBT1|  ALT  |  DOWN |PSCR  |
// |LT2 SP |           | BKSP | DEL  |                                 |  MBT2 | ENT   |              | LT2 SP|
bindings = <
&trans &kp COMMA &kp N7 &kp N8 &kp N9 &trans &kp PG_UP &kp HOME &mmv MOVE_UP &kp END &kp F1 &trans
&trans &kp KP_MULTIPLY &kp N4 &kp N5 &kp N6 &trans &kp PG_DN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &kp F2 &trans
&trans &kp KP_PLUS &kp N1 &kp N2 &kp N3 &trans &mkp MB3 &kp LEFT &kp UP &kp RIGHT &kp F3 &trans
&trans &trans &trans &kp N0 &mkp MB1 &trans &kp DOWN &kp PSCRN
&lt 2 SPACE &trans &trans &mkp MB2 &trans &lt 2 SPACE
            >;
        };
        func_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  ,  |  F7  |  F8   |  F9   |  .   |                   |  BT_0|  BT_1 | BT_2  | BT_3 | BT_4  | BT_CL |
// | SHIFT |  *  |  F4  |  F5   |  F6   |  -   |                   |BT_Nex| BT_Prv| BT_Dis|note  | none  | none  |
// | CTRL  |  `  |  F1  |  F2   |  F3   |  ;   |                   |  none|  none |  none |none  | none  | none  |
//               |  F10 |  F11  |  F12  |  0   |                   |  none|  none |  none |none  |
// |LT2 SP |            | BKSP  | DEL   |                                 |  MBT2 | ENT   |              | LT2 SP|
bindings = <
&trans &kp COMMA &kp F7 &kp F8 &kp F9 &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
&trans &kp KP_MULTIPLY &kp F4 &kp F5 &kp F6 &trans &bt BT_NXT &bt BT_PRV &bt BT_DISC &none &none &none
&trans &kp KP_PLUS &kp F1 &kp F2 &kp F3 &trans  &none &none &none &none &none &none
&kp F10  &kp F11  &kp F12 &kp N0  &none &none &none &none
&lt 2 SPACE &trans &trans &mkp MB2 &trans &lt 2 SPACE
            >;
        };
    };
};
